<!-- This is a blank template.  You can copy this to make a new template page. -->
{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>

<h5>Bennett Bluey:</h5>
The lifestyle of a student athlete is unique, keeping performance level on the field high and maintaing a strong academic rigour is a challenge that many people including myself have dealth with. As a senior who plays club and high school soccer at Oakland Tech, while also continuously being on the honor roll, I have learned how to manage this balance. 
<br>
Role: Front End
<h5>Nina Fitzgerald Boes:</h5>
I am a senior who plays club soccer, high school soccer, track, and cross country along with maintaining a high GPA. Many of these sports overlap with each other, leading to a lot of time at practices, with little time for homework. Over the years, I have learned how to maintain this balance between sports and school and am excited to help other athletes do the same. 
<br>
Role: Back End

<h5>Our project:</h5>
The goal of this project is to help high school student athletes balance keeping their grades up while also dealing with the physical and mental stress of playing high school sports. We want student athletes to help other student athletes through tutoring and providing advice.

<h5>Contact us: </h5>
s_ninaann.fitzgeraldboes@ousd.org (510-882-8204)
<br>
s_theodore.bluey@ousd.org (510-710-3772)

{% endblock %}